.header {
  width: 100%;
  position: fixed;
  background-color: var(--darkBlueEmail);
  z-index: 100;
}
.header .wrapper .header__content {
  display: flex;
  justify-content: space-between;
}
.header .wrapper .header__content .header__logo {
  padding-top: 1.5rem;
  padding-left: 1rem;
  width: 75px;
  height: 25px;
}
.header .wrapper .header__content .menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  color: var(--white);
  margin-right: 1rem;
}
.header .wrapper .header__content .menu .menu__item {
  margin: 0.9rem;
}
.header .wrapper .header__content .menu .menu__item a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: var(--white);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header .wrapper .header__content .header__logo {
    padding-left: 3.5rem;
    width: 90px;
    height: 30px;
  }
  .header .wrapper .header__content .menu {
    margin-right: 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .header .wrapper .header__content .header__logo {
    width: 100px;
    height: 40px;
  }
}
.hero .wrapper {
  background: url(../img/bg-curvy-mobile.svg) no-repeat;
  background-position: left;
  background-size: contain;
  width: 100%;
  padding-top: 14rem;
}
.hero .wrapper .hero__content {
  display: flex;
  flex-direction: column;
}
.hero .wrapper .hero__content .hero__image {
  display: flex;
  justify-content: center;
}
.hero .wrapper .hero__content .hero__image .hero__imageSrc {
  width: 80%;
  height: auto;
  margin-bottom: 0.5rem;
  position: relative;
  top: -5.8rem;
}
.hero .wrapper .hero__content .hero__description {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -86px;
}
.hero .wrapper .hero__content .hero__description .title__h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6;
  color: var(--white);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.hero .wrapper .hero__content .hero__description .copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--white);
  text-align: center;
  margin: 0 2.5rem 0 2.5rem;
}
.hero .wrapper .hero__content .hero__description .button {
  background: radial-gradient(var(--cyan), var(--blue));
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  padding: 0.8rem 1rem;
  border-radius: 1.3rem;
  border-color: transparent;
  margin: 1.8rem 4.7rem 0 4.7rem;
}

@media screen and (min-width: 425px) {
  .hero .wrapper .hero__content .hero__image .hero__imageSrc {
    margin-bottom: 5rem;
  }
  .hero .wrapper .hero__content .hero__description {
    position: relative;
    top: -154px;
  }
  .hero .wrapper .hero__content .hero__description .title__h1 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .hero .wrapper .hero__content .hero__description .copy {
    margin: 0 4rem 0 4rem;
  }
  .hero .wrapper .hero__content .hero__description .button {
    margin: 1.8rem 5.7rem 0 5.7rem;
  }
}
@media screen and (min-width: 768px) {
  .hero .wrapper {
    background-position: bottom;
  }
  .hero .wrapper .hero__content .hero__image {
    margin-bottom: -9.5rem;
  }
  .hero .wrapper .hero__content .hero__image .hero__imageSrc {
    width: 70%;
    margin-bottom: 0px;
  }
  .hero .wrapper .hero__content .hero__description {
    top: 100px;
  }
  .hero .wrapper .hero__content .hero__description .title__h1 {
    font-size: 24px;
    padding-left: 14rem;
    padding-right: 14rem;
  }
  .hero .wrapper .hero__content .hero__description .copy {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .hero .wrapper .hero__content .hero__description .button {
    margin: 1.8rem 16rem 0 16rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero .wrapper {
    background: url(../img/bg-curvy-desktop.svg) no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  .hero .wrapper .hero__content .hero__image {
    margin-bottom: 70px;
  }
  .hero .wrapper .hero__content .hero__image .hero__imageSrc {
    width: 50%;
  }
  .hero .wrapper .hero__content .hero__description {
    top: -130px;
  }
  .hero .wrapper .hero__content .hero__description .title__h1 {
    font-size: 28px;
  }
  .hero .wrapper .hero__content .hero__description .copy {
    font-size: 16px;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
  }
  .hero .wrapper .hero__content .hero__description .button {
    margin: 1.8rem 25rem 0 25rem;
  }
}
.why {
  margin-top: 8rem;
}
.why .wrapper .why__grid .why__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 4rem;
}
.why .wrapper .why__grid .why__item .why__title__h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.why .wrapper .why__grid .why__item .why__copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6;
  color: var(--white);
  padding: 0 2rem 0 2rem;
}
.why .wrapper .why__content .why__image {
  display: flex;
  justify-content: center;
}
.why .wrapper .why__content .why__image .why__imageSrc {
  margin-top: 5rem;
  width: 80%;
  height: auto;
}
.why .wrapper .why__content .why__description .why__title__h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: var(--white);
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 0 1.5rem 0 1.5rem;
}
.why .wrapper .why__content .why__description .why__copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--white);
  padding: 0 1.5rem 0 1.5rem;
}
.why .wrapper .why__content .why__description .why__footer {
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  align-items: stretch;
}
.why .wrapper .why__content .why__description .why__footer a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--cyan);
}
.why .wrapper .why__content .why__description .why__footer img {
  margin-left: 0.3rem;
}

@media screen and (min-width: 768px) {
  .why .wrapper .why__grid .why__item .why__copy {
    padding: 0 14.5rem 0 14.5rem;
  }
  .why .wrapper .why__content .why__image .why__imageSrc {
    width: 60%;
  }
  .why .wrapper .why__content .why__description .why__title__h1 {
    padding: 0 3.5rem 0 3.5rem;
  }
  .why .wrapper .why__content .why__description .why__copy {
    padding: 0 3.5rem 0 3.5rem;
  }
  .why .wrapper .why__content .why__description .why__footer {
    padding: 0 3.5rem 0 3.5rem;
  }
}
.info {
  margin-top: 9.5rem;
}
.info .wrapper .card {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}
.info .wrapper .card .card__image_quotes {
  width: 8%;
  height: auto;
  margin-left: 0.5rem;
}
.info .wrapper .card .card__item {
  border-radius: 3%;
  margin-top: -5px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  background-color: var(--darkBlueTestimonials);
}
.info .wrapper .card .card__item .card__body .card__copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.8;
  color: var(--white);
}
.info .wrapper .card .card__item .card__footer {
  display: flex;
}
.info .wrapper .card .card__item .card__footer .card__image {
  width: 10%;
  margin-right: 0.7rem;
  margin-top: 0.3rem;
}
.info .wrapper .card .card__item .card__footer .card__image .card__imageSrc {
  border-radius: 50%;
  width: 100%;
}
.info .wrapper .card .card__item .card__footer .card__info {
  display: flex;
  flex-direction: column;
}
.info .wrapper .card .card__item .card__footer .card__info .card__name {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: var(--white);
  margin-bottom: 0;
  margin-top: 0.2rem;
}
.info .wrapper .card .card__item .card__footer .card__info .card__position {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 8px;
  color: var(--white);
  margin-top: 0.1rem;
}

@media screen and (min-width: 768px) {
  .info .wrapper .card {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
.sign__up {
  position: relative;
  top: 175px;
}
.sign__up .wrapper {
  border: 1px solid var(--darkBlueEmail);
  border-radius: 3%;
  background-color: var(--darkBlueMain);
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.sign__up .wrapper .sign__title__h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: var(--white);
  text-align: center;
  margin-top: 2.3rem;
}
.sign__up .wrapper .sign__copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: var(--white);
}
.sign__up .wrapper .sign__container {
  display: flex;
  flex-direction: column;
}
.sign__up .wrapper .sign__container .sign__email {
  color: var(--darkBlueMain);
  font-size: 10px;
  font-weight: bold;
  padding: 1rem 2.3rem;
  border-radius: 1.3rem;
  border-color: transparent;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.sign__up .wrapper .sign__container .button {
  background: radial-gradient(var(--cyan), var(--blue));
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  padding: 1rem 1rem;
  border-radius: 1.3rem;
  border-color: transparent;
  margin-bottom: 2.3rem;
}

@media screen and (min-width: 768px) {
  .sign__up .wrapper {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
.footer {
  background-color: var(--darkBlueFooter);
}
.footer .wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
}
.footer .wrapper .footer__logo {
  width: 55%;
  height: auto;
  margin-top: 15.6rem;
}
.footer .wrapper .footer__contact {
  margin-top: 3rem;
}
.footer .wrapper .footer__contact .item__direction {
  display: flex;
}
.footer .wrapper .footer__contact .item__direction #img__direction {
  width: 1rem;
  height: 1.1rem;
  margin-top: 0.6rem;
  margin-right: 1.3rem;
}
.footer .wrapper .footer__contact .item__direction .copy__direction {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--white);
  margin-top: 0px;
}
.footer .wrapper .footer__contact .item__phone {
  display: flex;
}
.footer .wrapper .footer__contact .item__phone #img__phone {
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 1.3rem;
}
.footer .wrapper .footer__contact .item__phone .copy__phone {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  margin-top: 0px;
}
.footer .wrapper .footer__contact .item__email {
  margin-top: 0.7rem;
  display: flex;
}
.footer .wrapper .footer__contact .item__email #img__email {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 1.3rem;
}
.footer .wrapper .footer__contact .item__email .copy__email {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  margin-top: 0px;
}
.footer .wrapper .footer__links {
  margin-top: 4rem;
}
.footer .wrapper .footer__links .footer__links__container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}
.footer .wrapper .footer__links .footer__links__container .footer__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 0.6rem;
}
.footer .wrapper .footer__social {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.footer .wrapper .footer__social .circle {
  border: 1px solid var(--white);
  border-radius: 50%;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.footer .wrapper .footer__social .circle .icon__social {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.footer .wrapper .footer__social .circle .icon__social img {
  width: 0.8rem;
}

@media screen and (min-width: 768px) {
  .footer .wrapper {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
:root {
  --darkBlueEmail: hsl(217, 28%, 15%);
  --darkBlueMain: hsl(218, 28%, 13%);
  --darkBlueFooter: hsl(216, 53%, 9%);
  --darkBlueTestimonials: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --white: hsl(0, 0%, 100%);
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, var(--darkBlueEmail) 0%, var(--darkBlueEmail) 9.7%, var(--darkBlueMain) 9%, var(--darkBlueMain) 100%);
  overflow-x: hidden;
}

@media screen and (min-width: 425px) {
  body {
    background: linear-gradient(to bottom, var(--darkBlueEmail) 0%, var(--darkBlueEmail) 10.7%, var(--darkBlueMain) 9%, var(--darkBlueMain) 100%);
  }
}
@media screen and (min-width: 768px) {
  body {
    background: linear-gradient(to bottom, var(--darkBlueEmail) 0%, var(--darkBlueEmail) 16%, var(--darkBlueMain) 16%, var(--darkBlueMain) 100%);
  }
}
@media screen and (min-width: 1024px) {
  body {
    background: linear-gradient(to bottom, var(--darkBlueEmail) 0%, var(--darkBlueEmail) 19%, var(--darkBlueMain) 19%, var(--darkBlueMain) 100%);
  }
}

/*# sourceMappingURL=styles.css.map */
