.footer {
    background-color: var(--darkBlueFooter);
    color: white;
    .wrapper {
        margin-left: 2rem;
        margin-right: 2rem;

        .footer__logo {
            margin-top: 15.6rem;
        }

        .footer__contact {
            margin-top: 3rem;

            .contact__item {
                display: flex;

                .footer__imageSrc {
                    width: 1rem;
                    height: 1rem;
                    margin-top: 0.6rem;
                    margin-right: 1rem;
                }
                .footer__copy {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 1.6;
                    color: var(--white);
                    margin-top: 0px;
                }
            }
        }
    }
}