.header {
    .wrapper {

        .header__content {
            display: flex;

            & .header__logo {
                padding-top: 1.5rem;
                padding-left: 1rem;
                width: 75px;
                height: 25px;
            }
        
            & .menu {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                color: var(--white);
                margin-left: 6px;
        
                & .menu__item {            
                    margin: 0.9rem;
                }
        
                & .menu__item a {
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
    }
}