.why {
    margin-top: 8rem;

    & .wrapper {

        & .why__grid {

            & .why__item {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;

                & .why__title__h1 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    color: var(--white);
                    margin-top: 1.5rem;
                }
            }
        }
    }
}