.why {
    margin-top: 8rem;

    & .wrapper {

        & .why__grid {

            & .why__item {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                margin-bottom: 4rem;

                & .why__title__h1 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    color: var(--white);
                    margin-top: 1.5rem;
                    margin-bottom: 0;
                }

                & .why__copy {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 1.6;
                    color: var(--white);
                    padding: 0 2rem 0 2rem;
                }
            }
        }

        & .why__content {

            & .why__image {                
                display: flex;
                justify-content: center;

                & .why__imageSrc {
                    margin-top: 5rem;
                    width: 80%;
                    height: auto;                    
                }
            }

            & .why__description {                
                
                & .why__title__h1 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 19px;
                    color: var(--white);
                    //text-align: center;
                    margin-top: 3rem;
                    margin-bottom: 0;
                    padding: 0 1.5rem 0 1.5rem;
                }

                & .why__copy {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.5;
                    color: var(--white);                    
                    padding: 0 1.5rem 0 1.5rem;
                }
            }
        }
    }
}